body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    text-align: center;
}

div {
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 20px;
}